.container-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-style {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.field-style {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.button-style {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-style {
  color: red;
  font-size: 12px;
}
